.search-bar{
    text-align: center;
}


.search {
    background-color: gray;
    padding: 10px 0px;

}

.filter{
    background-color: rgb(201, 198, 198);
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

.one {
    margin-right: 20px;
}
label {
    margin-right: 10px;
}